<div class="card" style="margin: 50px">
<form class="row" style="max-width: 70%;">
  
  <div class="row" style="display: flex; justify-content: center">
      <div class="switch">
    <label>
      Business
      <input type="checkbox" class="toggle">
      <span style="margin; 0px" class="lever"></span>
      Customer
    </label>
  </div>

  </div>

  <div class="row">
    <div class="input-field col s12">
      <input id="email" type="email" class="validate sign_email">
      <label for="email">Email</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input id="password" type="password" class="validate sign_pass">
      <label for="password">Password</label>
    </div>
  </div>
  <div class="row">
    <button class="btn waves-effect waves-light btn-small sign-button"  name="action">Enter
    <i class="material-icons right">done</i>
    </button>
    <a style="float: right" class="test modal-trigger"href="#modal2">Dont have an account?</a>
  </div>
  
</form>
</div>