<div class="card" style="margin: 50px">
<form class="row" style="max-width: 70%;">
  
  <div class="row">
    <div class="col s12">
      <input  placeholder="Email" type="email" class="validate claim_email">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input placeholder="Password" type="password" class="validate set_pass">
    </div>
  </div>
  <div class="row">
        <div class="input-field col s12" style="margin: 2px;">
          <input placeholder="Confirm Password" type="password" class="confirm-password" style="padding: 0px; height: 25px">
        </div>
  </div>
  <div class="row">
    <button class="btn waves-effect waves-light btn-small claim_button_set"  name="action">Enter
    <i class="material-icons right">done</i>
    </button>
  </div>

  
</form>
</div>