<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<h1>This is the main page</h1>

<h2>Google Maps Proof of Concept</h2>

<div id="image_div" ></div>

<script>
    const mapData = {
        apiKey: "<API KEY HERE>",
        center: [ "Space+Needle", "Seattle,WA" ],
        zoom: "13",
        size: "600x600",
        maptype: "roadmap",
        markers: 
        [
            {
                color: "blue",
                label: [ "47.61621", "-122.33207" ]
            },
            {
                color: "green",
                label: [ "47.59621", "-122.33207" ]
            },
            {
                color: "red",
                label: [ "47.58621", "-122.33207" ]
            }
        ]
    }
    let query = "https://maps.googleapis.com/maps/api/staticmap?"
        + "center=" + mapData.center[0] + "," + mapData.center[1]
        + "&zoom=" + mapData.zoom + "&size=" + mapData.size
        + "&maptype=" + mapData.maptype;

    let markers;
    mapData.markers.forEach( function( loc ) {
        markers += "&markers=color:" + loc.color + "%7Clabel:S%7C" + loc.label[0] + "," + loc.label[1];
    });
    query += markers + "&key=" + mapData.apiKey;

    const imageDiv = document.getElementById( "image_div" );
    const image = document.createElement( "img" );
    image.setAttribute( "src", query );
    imageDiv.appendChild( image );

</script>
</body>
</html>