<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header_h1 center teal-text text-lighten-2">401 Error</h1>
      <div class="row center">
        <h5 class="header_text col s12 light">Please sign in at the top left corner</h5>
      </div>
      <div class="row center">
        <a href="/" class="btn-large waves-effect waves-light teal lighten-1">Home</a>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax"></div>
</div>