<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header_h1 center teal-text text-lighten-2">About us</h1>
      <div class="row center">
        <a href="/" class="btn-large waves-effect waves-light teal lighten-1">Home</a>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col s12">
            <h2 class="center mission-statement">Our Mission Statement</h2>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <p class="about-us-p">
                In 2021, a team of engineers at the University of Washington's winter coding bootcamp
                realized that the state of online hospitality and service reviews did not match the reality
                of the industry. Ben Hopkins, Tim Keller, Kevin Lyons, and S.D. Mulaney, having had
                restaurant experience of their own, believed that an imbalance existed that disfavored
                business owners, empowered poorly-behaved guests, and did not incentivize customers to
                treat employees with respect.
            </p>
            <p class="about-us-p">
                Thus, Turn the Tables was born. This web app changes the equation for restaurant and
                hospitality reviews, putting power in the hands of employees and employers to review their
                guests, and allowing customers to "claim" profiles started for them. This allows the best
                guests to easily share their contact information with businesses, and gives employers a direct
                line to their favorite customers to reward them as they see fit for their patronage.
            </p>
            <p class="about-us-p">
                If you're a business owner, start a profile for your business, and enter the names of the 
                guests you'd most like to review. We look forward to seeing you!
            </p>
        </div>
    </div>
</div>
