<div class="row">
    <div class="col m6">
        <p>{{data}}</p>
    </div>
</div>
<div class="row">
    <div class="col s6 m6">
        <img src="http://placekitten.com/500/200" style="max-width: 100%;">
    </div>
    <div class="col s6 m6">
      <div class="card-panel teal">
        <form >
           <div class="row">
             <input placeholder="First Name" type="text" class="f-customer-name">
           </div>
           <div class="row">
             <input placeholder="Last Name" type="text" class="l-customer-name">
           </div>
          <div class="row">
             <input placeholder="comment" type="text" class="commentAboutCus" style="word-wrap: break-word">
          </div>
          <div class="row">
              <div class="col m4">
                <input placeholder="How many stars? " type="text" class="stars">
              </div>
              <div class=" col m5">

              </div>
              <div class="col m3">
                <a class="btn-floating btn-large waves-effect waves-light red add_customer_button"><i class="material-icons">add</i></a>
              </div>
         </div>
        </div>
            
        </form>
      </div>
    </div>
</div>

<div class="row">
  {{> guest-loop }}
</div>
