  
  
  <nav class="green">
    <div class="nav-wrapper">
      <a style="margin-left: 2vw" class="brand-logo header_title left">The Turning Of Tables</a>
      <ul class="right ">
            
        <li><a href="/sign-in">Sign in</a></li>
       
      </ul>
    </div>
  </nav>  
  
  <div class="container">
  
    <div class="row">
    <div class="col offset-m3 s12 m6">
      <div class="card-panel teal z-depth-5 ">
       
        <div class="row">
        <div class="input-field col s6">
          <input placeholder="First Name" id="first_name" type="text" class="validate fName">
        </div>
        <div class="input-field col s6">
          <input placeholder="Last Name"id="last_name" type="text" class="validate lName">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Email" id="email" type="email" class="validate customer_email">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Password" id="password" type="password" class="password-customer">     
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Confirm Password" type="password" class="c-verify-password">
        </div>
      </div>
      <div class="row">
        <button class="btn col m4 waves-effect waves-light btn-small customer-profile-button"  name="action">Submit
        <i class="material-icons right">send</i>
        </button>
        <p class="invalid"></p>
        
      </div>
    </form>
  </div>


      </div>
    </div>
  </div>

  </div>