<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header_h1 center teal-text text-lighten-2">Parallax Template</h1>
      <div class="row center">
        <h5 class="header_text col s12 light">Because great service is a partnership.</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">About Us</a>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax"><img src="/public/assets/turn-the-tables.jpg" alt="Restaurant"></div>
</div>
<div class="row">
  {{> guest-loop }}
</div>