  
  
  <nav class="green">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo left"><i class="material-icons">cloud</i>Logo</a>
      <ul class="right ">
            
        <li><a href="/sign-in">Sign in</a></li>
       
      </ul>
    </div>
  </nav>  
  
  
  <div class="container">
  
    <div class="row">
    <div class="col offset-m3 s12 m6">
      <div class="card-panel teal z-depth-5 ">
       
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s8">
          <input id="company_name" type="text" class="company_name">
          <label for="company_name">Company Name</label>
        </div>
      </div>
      <div class="row">
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password">     
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="password" class="verify-password">
          <label for="password">Confirm Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate company_email">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <button class="btn col m4 waves-effect waves-light btn-small sign-up-button"  name="action">Submit
        <i class="material-icons right">send</i>
        </button>
        <p class="invalid"></p>
        
      </div>
    </form>
  </div>


      </div>
    </div>
  </div>

  </div>
  
