  <nav class="green">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo left"><i class="material-icons">cloud</i>Logo</a>
      <ul class="right ">
            
        <li><a href="/">Sign up</a></li>
       
      </ul>
    </div>
  </nav>    
  
  <div class="container">
  
    <div class="row">
    <div class="col offset-m3 s12 m6">
      <div class="card-panel teal z-depth-5 ">
       
  <div class="row">
    <form class="col s12">
       <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light btn-small" type="submit" name="action">Enter
    <i class="material-icons right">done</i>
  </button>
        
      </div>
    </form>
  </div>


      </div>
    </div>
  </div>

  </div>