/* font-family: 'Annie Use Your Telescope', cursive;
font-family: 'Dancing Script', cursive; */
.validate{
    
    height: 2vw
}
body{
    background-color: rgb(157, 177, 187);
}

h1 {
    margin-top:72px;
    text-align: center;
    color: #46351D;
}

.header_title{
    font-family: 'Annie Use Your Telescope', cursive;
}

.dropdown-span {
    color: black;
}