/* font-family: 'Annie Use Your Telescope', cursive;
font-family: 'Dancing Script', cursive; */

body{
    background-color: rgb(157, 177, 187);
}

h1 {
    margin-top:72px;
    text-align: center;
    color: #46351D;
}

h2 {
    font-family: "Dancing Script", cursive;
    color: #46351D;
}

img.customer_profile_pic {
    max-width: 100%;
    margin-top: 30px;
}

.top_nav, .parallax-container,  {
    box-shadow: -1px 5px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 5px 5px 0px rgba(0,0,0,0.75);
}

.reviews_header {
    background-color: #397367;
    padding: 10px;
    border-radius: 7px;
    border: solid 1px #666;
    box-shadow: 4px 3px 8px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 3px 8px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 3px 8px 1px rgba(0,0,0,0.75);
}

.reviews_header h2 {
    color: white;
    text-align: center;
    font-family: 'Annie Use Your Telescope', cursive;
    margin: 0;
}

p.about-us-p {
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 21px;
    word-break: unset;
    word-wrap: unset;
    overflow-wrap: unset;
    -webkit-hyphens: unset;
    -moz-hyphens: unset;
    -ms-hyphens: unset;
    hyphens: unset;
}

.logo_image {
    width: 84px;
}

.row.card div.review_column {
    padding: 0px 10px 15px;
}

#index-banner {
    background-image: url("../assets/turn-the-tables.jpg");
}

.header_h1 {
    font-family: "Dancing Script", cursive;
}

.header_text {
    font-family: 'Annie Use Your Telescope', cursive;
    color: white;
}

.review_title {
    font-size: 22px;
    font-family: 'Annie Use Your Telescope', cursive;
    margin-bottom: 0px;
    text-align: center;
}

.upper_hr {
    width: 50%;
    height: 2px;
}

.review_body {
    padding-bottom:30px;
    text-align: center;
}

.review_business_name {
    font-family: "Dancing Script", cursive;
    font-size: 20px;
}

.customer_search {
    width: 100%;
}

.customer_search_input {
    padding-left: 2px;
    background-color: white;
    border-radius: 5px;
}

.delete_review, .edit_review {
    float: left;
}

.header_title{
    font-family: 'Annie Use Your Telescope', cursive;
}

.card span.card-title {
    color: #46351D;
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 34px;
}

.dropdown-span {
    color: black;
}

p {
    word-break: break-all;
    white-space: normal;
}

.box{
    overflow: scroll;
    max-height: 20vw;
    overflow-x: hidden;
}

div.hiddendiv.common {
    width: 0;
}

.cuspropic {
    height: 25vw;
}

@media (max-width: 600px ){
    .cuspropic{
        height: 100%;
        width: 100%;
    }
}

.validate{
    height: 2vw;
}

.input-field{
    margin: 2px 0px;
}

input {
    padding: 0px; 
    height: 25px;
}
